@font-face {
	font-family: 'Mier B Hair';
	src: url(../../assets/fonts/MierB-Hair.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Hair.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Hair.woff2) format('woff2'),
	url(../../assets/fonts/MierB-Hair.woff) format('woff'),
	url(../../assets/fonts/MierB-Hair.ttf) format('truetype');
	font-weight: 200;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B Hair';
	src: url(../../assets/fonts/MierB-HairItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-HairItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-HairItalic.woff2) format('woff2'),
	url(../../assets/fonts/MierB-HairItalic.woff) format('woff'),
	url(../../assets/fonts/MierB-HairItalic.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: auto;
}