@font-face {
	font-family: 'Mier B Book';
	src: url(../../assets/fonts/MierB-Book.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Book.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Book.woff2) format('woff2'),
	url(../../assets/fonts/MierB-Book.woff) format('woff'),
	url(../../assets/fonts/MierB-Book.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B Book';
	src: url(../../assets/fonts/MierB-BookItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-BookItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-BookItalic.woff2) format('woff2'),
	url(../../assets/fonts/MierB-BookItalic.woff) format('woff'),
	url(../../assets/fonts/MierB-BookItalic.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: auto;
}