@font-face {
	font-family: 'Moret';
	src: url(../../assets/fonts/Moret-Regular.woff2) format('woff2'),
	url(../../assets/fonts/Moret-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Moret';
	src: url(../../assets/fonts/Moret-RegularOblique.woff2) format('woff2'),
	url(../../assets/fonts/Moret-RegularOblique.woff) format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Moret';
	src: url(../../assets/fonts/Moret-Semibold.woff2) format('woff2'),
	url(../../assets/fonts/Moret-Semibold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Moret';
	src: url(../../assets/fonts/Moret-SemiboldOblique.woff2) format('woff2'),
	url(../../assets/fonts/Moret-SemiboldOblique.woff) format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Moret';
	src: url(../../assets/fonts/Moret-Bold.woff2) format('woff2'),
	url(../../assets/fonts/Moret-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Moret';
	src: url(../../assets/fonts/Moret-Extrabold.woff2) format('woff2'),
	url(../../assets/fonts/Moret-Extrabold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Moret';
	src: url(../../assets/fonts/Moret-BoldOblique.woff2) format('woff2'),
	url(../../assets/fonts/Moret-BoldOblique.woff) format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Moret';
	src: url(../../assets/fonts/Moret-ExtraboldOblique.woff2) format('woff2'),
	url(../../assets/fonts/Moret-ExtraboldOblique.woff) format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}